body {
    z-index: 0;
}

.backdrop {
    display: none;
    z-index: 10;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20%;
}